<!DOCTYPE html>
<html>	
		
	<nav th:fragment="navbar" class="navbar navbar-dark" style="background-color:#0d6efd;">
			<div class="container-fluid">
				
				<div class="d-flex justify-content-between align-items-center w-100">
					
				<!--Logo -->
				<div>
				<a class="navbar-brand d-flex align-items-center" th:href="@{/}">
					<img th:src="@{/images/DEALogo.jpeg}" alt="DEA Logo" height="110" class="me-3">
				</a>	
				</div>
				<!--Title-->
				<div class="flex-grow-2 text-center">
					<h1 class="m-0" style="font-size:2.2rem; font-weight:600;">DEA'S FURNITURE</h1>
				</div>
				<!--cart icon-->
				<div class="flex-grow-1 d-flex justify-content-end">
				<a class="nav-link text-black" th:href="@{/cart}">
					<i class="bi bi-cart3" style="font-size:2rem;"></i>
				</a>
				</div>
			</div>		
			
			<!--<div class="text-center w-100 mt-2">
				<h1 class="m-0" style="font-size:2.2rem; font-weight:600;">DEA'S FURNITURE</h1>
			</div>		-->
			<!--Navigation links-->
			<div class="navbar-nav mx-auto">
				
				<ul class="navbar-nav flex-row">
					<li class="nav-item me-4">
						<a class="nav-link" th:href="@{/}">Home</a>
					</li>
					<li class="nav-item me-4">
						<a class="nav-link" th:href="@{/about}">About Us</a>
					</li>
					<li class="nav-item me-4">
						<a class="nav-link" th:href="@{/products}">Products</a>
					</li>
					<li class="nav-item me-4">
						<a class="nav-link" th:href="@{/account}">Account</a>
					</li>	
					<li class="nav-item me-4">
						<a class="nav-link" th:href="@{/login}">Login</a>
					</li>	
					<li class="nav-item me-4">
						<a class="nav-link" th:href="@{/registration}">Register</a>
					</li>	
				</ul>	
			
			</div>
		</div>
	</nav>		
	
</html>					