<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<div layout:fragment="content">
    <h1>About DEA's Furntiture Store</h1>
	
	<div class="content-box">
		<p> DEA's Furniture store was created with the idea to be a one stop
			source for all of your furniture needs. The creators, Damian, Esmeralda, and Angelo
			believe in making it an easy experience to manage inventory as employees and 
			view products as customers. 
		</p>
		<p>
			Being Grand Canyon University student has given us the opportunity to come together to create this application for you. 
			Thank you for choosing DEA!
			Please reach out if there any questions!
		</p>
	</div>		
</div>

</html>
