<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main}">

	<div layout:fragment="content">
		
		<h1 class="page-title"> Welcome to DEA's Furniture Store</h1>
		
		<div class="content-box">
			<p>Here to meet all of your furniture needs! We have everything from couches to tables to rugs. Take a look at our products to find your items today. If there are any questions, please feel free to contact us!</p>
		</div>
	</div>
	</html>